
<h2>Setup username and password</h2>
<ul>
    <li>
        <input id='username' placeholder='username'>
    </li>
    <li>
        <input id='password' type='password' placeholder='password'>
    </li>
    <li>
        <a href='#/registered'>Sign up</a>
    </li>
</ul>